* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

h1 {
    background-color: #f1e9e9;
    color: #04010b;
    height: 5rem;
    line-height: 5rem;
}

.option {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.option:hover {
    cursor: pointer;
    background-color: #2d2d2d;
}

img {
    height: 120px;
    width: 120px;
    object-fit: cover;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#player-score, #computer-score {
    font-size: 4rem;
}

.message-container {
    margin-top: 5rem;
}

#message {
    background-color: #2d2d2d;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}